::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: light;
  font-style: italic;
  opacity: 0.8; /* Firefox */
}
.search {
	background-color:#326992 !important;
}
.text-secondary {
	color:white !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: light;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: light;
}
#search-filters .mr-2 {
	color:white !important;
	border-color:white !important;
	background-color:#1DA4E1 !important;
}
